body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
  width: 100vw;
  height: 100%;
  color: rgb(255, 255, 255);
  background-color: lightblue;
  border-radius: 50px;

}
#app{


}

.panel {
  background-position: center;
  height: 400px;
  background-size: cover;
  border-radius: 50px;
  cursor: pointer;
  flex: 0.7;
  margin: 10px;
  position: relative;
  transition: flex 1s ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  left: 30px;
  bottom: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 8;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

@media (max-width: 480px) {
  .container {
    width: 100%;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}

#one_card {
  background-size:  cover;
  background-position:  right;
}