// Import Color Variables
@import 'variables';
// ---------------------------------
.header__button-open {
  width: 150px;
  height: 40px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: var(--bs-primary-text-emphasis);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.3;
}
.header__button:hover {
  background-color: #1f271f;
}