@mixin flexible () {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

.main__container{
  @include flexible();
  border:2px solid black;
  width: 100%;
  margin-top: 50px;
}
.main__container>div{
  border:1px solid red;
  height: 200px;
  width: 200px;
  background-color:lightblue;
}
.container{
  @include flexible()
}