.progress__container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  width: 500px;
  position: relative;
  margin-bottom: 30px;
  z-index: 1; /* контейнер выше фона */
}

.progress__container::before {
  content: '';
  background-color: #e0e0e0;
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  transform: translateY(-50%);
  width: 100%;
  z-index: -1; /* фон под прогрессом, но не -1 */
}

.progressing {
  background-color: blue;
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  transform: translateY(-50%);
  width: 50%;
  z-index: -1; /* над фоном */
  transition: 0.4s ease;
}

.block__btn {
  width: 500px;
  display: flex;
  justify-content: center;
}

.circle {
  background-color: white;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid lightgray;
  transition: 0.4s ease;
}

.circle.active {
  border-color: blue;
}
